<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Canvas</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="DAO/Parecer.hbm.xml"/>
    <mapping resource="DAO/Usuario.hbm.xml"/>
    <mapping resource="DAO/Tipousuario.hbm.xml"/>
    <mapping resource="DAO/Credencial.hbm.xml"/>
    <mapping resource="DAO/Historico.hbm.xml"/>
    <mapping resource="DAO/Pergunta.hbm.xml"/>
    <mapping resource="DAO/Resultado.hbm.xml"/>
    <mapping resource="DAO/Equipe.hbm.xml"/>
    <mapping resource="DAO/Resposta.hbm.xml"/>
    <mapping resource="DAO/Situacao.hbm.xml"/>
    <mapping resource="DAO/Avaliacao.hbm.xml"/>
    <mapping resource="DAO/Status.hbm.xml"/>
    <mapping resource="DAO/Projeto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
