<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Canvas</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Hibernate/Parecer.hbm.xml"/>
    <mapping resource="Hibernate/Usuario.hbm.xml"/>
    <mapping resource="Hibernate/Tipousuario.hbm.xml"/>
    <mapping resource="Hibernate/Credencial.hbm.xml"/>
    <mapping resource="Hibernate/Historico.hbm.xml"/>
    <mapping resource="Hibernate/Pergunta.hbm.xml"/>
    <mapping resource="Hibernate/Resultado.hbm.xml"/>
    <mapping resource="Hibernate/Equipe.hbm.xml"/>
    <mapping resource="Hibernate/Resposta.hbm.xml"/>
    <mapping resource="Hibernate/Situacao.hbm.xml"/>
    <mapping resource="Hibernate/Avaliacao.hbm.xml"/>
    <mapping resource="Hibernate/Status.hbm.xml"/>
    <mapping resource="Hibernate/Projeto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
